@media (min-width: 300px) {
  .header--container {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color: rgba(139, 145, 146, 0.76);
    box-shadow: 2px 2px 8px rgba(160, 153, 153, 0.76);
  }

  .nav--name {
    margin-left: 70px;
    display: flex;
    justify-content: space-evenly;
  }
  
  .podcast--name {
    font-weight: bolder;
    font-size: 25px;
    color: rgba(233, 221, 221, 0.76);
    text-align: center;
  }

  .right--elements {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .search__bar {
    width: 40px;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }

  .favorites__button {
    background-color: #c3baba;
    border: solid;
    border-color: rgba(255, 255, 255, 0.76);
    border-width: 1px;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 20px;
    color: rgba(0, 0, 0, 0.76);
    font-size: 18px;
    border-radius: 5px;
  }

  .favorites--button:hover {
    transform: scale(1.1);
  }

  .favorites--button:active {
    transform: scale(0.9);
  }
}

@media (min-width: 700px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(134, 147, 149, 0.76);
    box-shadow: 2px 2px 8px rgba(238, 235, 238, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav--name {
    margin-left: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .podcast__img {
    width: 35px;
    object-fit: contain;
    border-radius: 50%;
  }

  .podcast--name {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.76);
    font-weight: bolder;
    text-align: center;
  }

  .right--elements {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }

  .search__bar {
    width: 40px;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }

  .favorites--button {
    background-color: #ada1a1;
    border: solid;
    border-color: rgba(255, 255, 255, 0.76);
    border-width: 1px;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    margin: 20px;
    color: rgba(0, 0, 0, 0.76);
    font-size: 18px;
    border-radius: 5px;
  }

  .favorites--button:hover {
    transform: scale(1.1);
  }

  .favorites--button:active {
    transform: scale(0.9);
  }
}

@media (min-width: 1000px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    background-color: rgba(134, 147, 149, 0.76);
    box-shadow: 2px 2px 8px rgba(233, 229, 234, 0.76);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav--name {
    margin-left: 20px;
    display: flex;
    justify-content: space-evenly;
  }

  .podcast--img {
    width: 35px;
    object-fit: contain;
  }

  .podcast--name {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.76);
    font-weight: bolder;
    text-align: center;
  }

  .right--elements {
    margin-right: 20px;
    display: flex;
    align-items: center;
  }

  .search__bar {
    width: 40px;
    object-fit: contain;
    mix-blend-mode: color-burn;
  }

  .favorites--button {
    background-color: #938b8b;
    border: solid;
    border-color: rgba(0, 0, 0, 0.76);
    border-width: 1px;
    font-weight: lighter;
    cursor: pointer;
    transition: transform 0.3s ease;
    margiN: 20px;
    color: rgba(255, 255, 255, 0.76);
    font-size: 18px;
    border-radius: 5px;
  }

  .favorites--button:hover {
    transform: scale(1.1);
  }

  .favorites--button:active {
    transform: scale(0.9);
  }
}
